
$font-family: "Helvetica"
$font-clr: #fff
$font-clr-dark: #353535

$crl-background: #222222
$clr-navBar: gray

$clr-card-bk: #acacac
$clr-card-hover-bk: #c9c9c9
$clr-card-font: #000

$clr-hover-light: #b9b9b9
$clr-hover: #f13778